/*
	Put your custom CSS here
*/


.secondary {
	position: absolute;
	top: 0px;
	-webkit-transform: rotateY(-180deg);
	transition: -webkit-transform .5s;
}

.primary {
	transition: -webkit-transform .5s;
}

.portfolio-item:hover .primary {
	-webkit-transform: rotateY(180deg);
	transition: -webkit-transform .5s;
}
.portfolio-item:hover .secondary {
	-webkit-transform: rotateY(0deg);
	transition: -webkit-transform .5s;
}
